{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>view sub-category</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
	/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

}
</style>
<body>
<table>
<nav class="navbar navbar-expand-sm">

  <a class="navbar-brand" href="/admin/admin_successLogin">
    <img src="{% static 'images/Caramel-Horz.png' %}" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
  </a>
 </nav>
<div align="center" style="max-width:500px;margin: auto;">
    <h3>Sub-Program list</h3>
    </div>
    <br/>
    <br/>


</table>
<table border="1" style="overflow-x:auto; margin-left:30px;">

<tr>
<th>Title</th>
<th>Description</th>
    <th>Category</th>

</tr>
<tr>
  {% for cat in alldatas %}

<td>{{ cat.Title }}</td>
<td>
{{ cat.Description }}</td>
      <td>{{ cat.Category }}</td>
</tr>
        {% endfor %}
</table>



</body>
</html>


